.top-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background: #191919;
  align-items: center;
  justify-content: left;
  z-index: 100;
}

.top-bar-placeholder {
  height: 50px;
}

.top-bar-title {
  font-size: 20px;
  padding-left: 10px;
}
